.hint {
     
     color: #999;
}

.indent {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px; 
}

.hidden {
     display: none;
}


label {
    display: block;
    margin-left: 40px;
    cursor: pointer;
    padding-right: 20px;
}
input {
    float: left;
    margin-left: -40px;
    margin-right: 7px;
}


.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: -2px;
     height: 30px;
     width: 30px;
     border: 2px solid #f1f1f1;;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 10px;
     top: 6px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
  
     border: 2px solid #ffdd57;
}
.form-radio:checked
{
     background-color: #ffdd57;
     border: 2px solid #ffdd57;
}

